################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################
/AIPPS_Lab1/AIPPS_Lab1.VC.db
/AIPPS_Lab1/AIPPS_Lab1.VC.VC.opendb
